@import "../../.cache/wallust/colors-swaync.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Roboto", Helvetica, Arial, sans-serif;
    transition: all 0.3s ease;
}

/* --- PANEL PRINCIPAL (CONTROL CENTER) --- */
.control-center {
    background: alpha(@background, 0.8);
    border: 2px solid @color9;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.control-center-list {
    background: transparent;
}

/* --- NOTIFICACIONES --- */
.notification {
    background: alpha(@background, 0.7);
    padding: 0;
    margin: 8px;
    border-radius: 15px;
    border: 1px solid alpha(@color9, 0.5);
    color: @foreground;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.notification-row:focus,
.notification-row:hover {
    background: alpha(@color8, 0.1);
    border-radius: 15px;
}

.notification-content {
    background: transparent;
    padding: 12px;
}

.close-button {
    background: @color1;
    color: @background;
    text-shadow: none;
    padding: 2px;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 8px;
    min-width: 20px;
    min-height: 20px;
}

.close-button:hover {
    background: @color9;
}

/* --- WIDGETS --- */
.widget-title {
    color: @color9;
    background: alpha(@background, 0.5);
    padding: 10px;
    margin: 15px 15px 5px 15px;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 12px;
}

.widget-title > button {
    font-size: 0.9rem;
    color: @background;
    background: @color9;
    padding: 5px 10px;
    border-radius: 8px;
}

.widget-title > button:hover {
    background: @color3;
}

.widget-dnd {
    background: alpha(@background, 0.5);
    padding: 10px;
    margin: 5px 15px 15px 15px;
    border-radius: 12px;
    color: @foreground;
}

.widget-dnd > switch {
    border-radius: 15px;
    background: @color8;
}

.widget-dnd > switch:checked {
    background: @color9;
}

.widget-dnd > switch slider {
    background: @foreground;
    border-radius: 15px;
}
